@import './colors';
.about-section {
  .black-content {
    margin: 2rem;
    padding-top: 4rem;

    @media (min-device-width: 992px) {
      padding-top: 0;
      margin: 2rem 4rem;
      max-width: 400px;
    }
  }
}

.about-section {
  align-items: stretch;
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  margin-bottom: 0 !important;
  position: relative;

  .column {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .content-wrapper {
    flex: 100%;

    @media (min-device-width: 992px) {
      flex: 1;
    }
  }

  .md-content {
    margin-bottom: 2rem;
  }
}

.about-bg-content {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  position: relative;
  @media (max-device-width: 991px) {
    justify-content: flex-end;
  }
}

.about-header {
  @media (max-device-width: 991px) {
    order: 2;
  }
}
