@import "node_modules/bulma/sass/utilities/initial-variables";

@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Muli&display=swap");

$body-color: #333;
$black: #2b2523;
$family-primary: "Muli", sans-serif;

$button-border-color: #333;
$button-border-width: 1px;

$footer-padding: 5em 0;
$footer-background-color: #333;
$footer-color: white;

@import "node_modules/bulma/bulma";
@import "./colors";

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.title, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

html, body {
  * {
    color: white;
  }

  a {
    color: $green;
  }
}

.black-content {
  background: black;

  *,
  .title,
  a {
      color: white;
  }

  blockquote {
    background: none;
    font-style: italic;
  }
}

.app-wrapper {
  background: black;
  display: flex;
  flex-direction: column;
}

.spinning {
  animation: spin 2s infinite linear;
  display: inline-block;

  svg {
    width: 100%;
    height: 100%;
  }
}

.is-fullheight {
  min-height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
