@import 'node_modules/bulma/bulma';
@import './colors';

html, body {
  background-color: black;

  * {
    color: white;
  }

  a {
    color: $green;
  }
}

.app-wrapper {
  background: black;
  display: flex;
  flex-direction: column;
}
