@import 'node_modules/bulma/bulma';
@import './colors';

html, body {
  background-color: black;

  * {
    color: white;
  }

  a {
    color: $green;
  }

  .title {
    font-family: serif;
    font-weight: bold;
  }
}

.black-content {
  background: black;
  *, .title, a {
    color: white;
  }
}

.app-wrapper {
  background: black;
  display: flex;
  flex-direction: column;
}
