@import './colors';

html.is-menu-open {
  overflow: hidden !important;
}

.main-menu,
.main-menu-left {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  top: 0;
  width: 50%;
  z-index: 20;

  @media (max-device-width: 991px) {
    width: 100%;
  }
}

.main-menu-left {
  left: 0;
  background: $green;

  .image-container {
    height: 100vh;
  }

  .content-above {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.main-menu {
  background: white;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  right: 0;

  .menu-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: black;

    a {
      color: inherit;

      &:hover {
        color: #838383;
      }
    }
  }

  @media (min-device-width: 992px) {
    flex-direction: row;
    justify-content: start;
    padding: 2rem 6rem;

    .menu-list-wrapper {
      margin-bottom: 0;
      order: 2;
      padding-left: 4rem;
      text-align: left;
    }
  }
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 23px;
  width: 35px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 2rem;
  top: 2rem;
  transform: rotate(-45deg);
  transition: all .15s;
  transition-delay: .2s;
  z-index: 1000;

  .menu-icon-dash {
    background-color: white;
    border-radius: 3px;
    width: 100%;
    height: 3px;
    transition: all .3s;

    &.outer {
      width: 60%;
    }
  }

  &:hover {
    transform: rotate(0deg);

    .menu-icon-dash {
      width: 100%;
    }
  }

  &.is-open {
    justify-content: center;

    .menu-icon-dash {
      background-color: black;
      margin-bottom: -3px;
      transition: all .15s;
      transition-delay: .2s;

      &:last-child {
        transform: rotate(90deg);
      }
    }

    &:hover {
      .menu-icon-dash:last-child {
        transform: rotate(0deg);
      }
    }
  }
}

.social-icons {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1000;

  a {
    margin-right: .6em;

    &:hover svg {
      fill: black;
    }
  }

  svg {
    transition: all .3s;
  }
}

.page-breadcrumb {
  align-items: center;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  left: 2rem;
  position: absolute;
}
