.tile-content {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.testimonial-item {
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  .inner-content {
    margin: 5rem 3rem;
  }
  img {
    width: 100%;
  }
  .spinning {
    z-index: 2;
  }
}
